<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952698678160-se8gn3i9ortrvgdrkg0vav65u1jqd5g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952698678160-se8gn3i9ortrvgdrkg0vav65u1jqd5g7</string>
	<key>API_KEY</key>
	<string>AIzaSyD4AoKAdkKeiOgbiiFw2OjgI8ovmKFOgeo</string>
	<key>GCM_SENDER_ID</key>
	<string>952698678160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodnews.app</string>
	<key>PROJECT_ID</key>
	<string>nooz-414207</string>
	<key>STORAGE_BUCKET</key>
	<string>nooz-414207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952698678160:ios:02a1e4ee2270c2fcfee115</string>
</dict>
</plist>